N8N - Amazon search Agent.json
{
  "name": "N8N - Amazon search Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8061b0a0-8857-4782-be3f-0107a4af627f",
      "name": "Telegram Trigger",
      "webhookId": "638327a1-5c19-486f-bc3a-5bebd893acf0",
      "credentials": {
        "telegramApi": {
          "id": "OmIs8I6J6dVyJRJL",
          "name": "Http_node_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your a Helpful chat agent, who acts on user input:\n {{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "1656a0e3-0624-4770-8b09-5b83730c49d4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "54cd9b23-ddcb-45ae-87ef-23dd3b4ae420",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FyH3Pfz0L4rzTnvd",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "dee5c2b7-7719-49f6-885b-0a55f50dc746",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "amazon",
        "k": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query__k_', ``, 'string') }}",
        "additionalFields": {
          "delivery_zip": "600091"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "3766f42e-e6dd-4e35-9eae-8c52050d46ea",
      "name": "Amazon search in SerpApi",
      "credentials": {
        "serpApi": {
          "id": "ZpZv9KwSj9vtySoX",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "102ed365-cedd-4735-921a-66048cefec59",
      "name": "Send a text message",
      "webhookId": "bf775b1b-584f-4d2a-a09f-390344ed099c",
      "credentials": {
        "telegramApi": {
          "id": "OmIs8I6J6dVyJRJL",
          "name": "Http_node_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Amazon search in SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b6e24ed7-d3d4-4685-9330-0ac33139357f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3e974bb9e45d4f2c01abe4362455148418cf3e5cffd03c8865e3f98ceb511fe"
  },
  "nodeGroups": [],
  "id": "hcXWgGZYGMhXfICk",
  "tags": []
}