Voice Agent automation.json
{
  "name": "Voice Agent automation",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        0
      ],
      "id": "4035bfbc-a49a-4a7c-ac87-d11b3d3b3d99",
      "name": "Telegram Trigger",
      "webhookId": "638327a1-5c19-486f-bc3a-5bebd893acf0",
      "credentials": {
        "telegramApi": {
          "id": "OmIs8I6J6dVyJRJL",
          "name": "Http_node_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your a Helpful chat agent, who acts on user input:\n {{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        0
      ],
      "id": "9407f6fc-5034-4f9a-88e2-cd030286690c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        224
      ],
      "id": "86ed6743-c0b4-496c-b2fe-8b7ad7a3f2b3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FyH3Pfz0L4rzTnvd",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        816,
        224
      ],
      "id": "443f9534-fb84-4a85-afc6-b42a21012d6c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "amazon",
        "k": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query__k_', ``, 'string') }}",
        "amazon_domain": "amazon.in",
        "additionalFields": {
          "delivery_zip": "600091"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        992,
        224
      ],
      "id": "0c57e8f1-3d87-4433-937f-e453c6458ca6",
      "name": "Amazon search in SerpApi",
      "credentials": {
        "serpApi": {
          "id": "ZpZv9KwSj9vtySoX",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        0
      ],
      "id": "c72464e1-86ac-4036-a416-0004e4751363",
      "name": "Send a text message",
      "webhookId": "bf775b1b-584f-4d2a-a09f-390344ed099c",
      "credentials": {
        "telegramApi": {
          "id": "OmIs8I6J6dVyJRJL",
          "name": "Http_node_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        -96
      ],
      "id": "4caf3cce-a22b-4531-bb62-4db71ef57728",
      "name": "Get a file",
      "webhookId": "9a47d1e1-2805-48e2-b6a8-c0c4cf2de6d4",
      "credentials": {
        "telegramApi": {
          "id": "OmIs8I6J6dVyJRJL",
          "name": "Http_node_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "8c226b69-d4ac-4e99-a050-eb60926edb38"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3b38584c-275e-4dc0-b4bb-9558e263058e",
                    "leftValue": "={{ $json.message.chat }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        0
      ],
      "id": "a2eb85f3-4097-4202-a45a-bd90abf18695",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14ed1474-3568-4525-8d4e-8eb7b65182a4",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        112
      ],
      "id": "226312a8-8b3e-4b01-ab86-429aa57e4fd0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28157c9c-66df-4c5a-a602-cd667aa1f772",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -96
      ],
      "id": "227f7a13-bc59-4bde-8b0e-9821103b598f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        96,
        -96
      ],
      "id": "ce74dc07-4264-4571-875e-a427540f3f52",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "FyH3Pfz0L4rzTnvd",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Amazon search in SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ccbb7508-f2be-496e-b904-dc63382820b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3e974bb9e45d4f2c01abe4362455148418cf3e5cffd03c8865e3f98ceb511fe"
  },
  "nodeGroups": [],
  "id": "U0fQZaBBb0WI1Onf",
  "tags": []
}